body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #f2f2f2, #c1c1c1);
  }
 
/* background for quiz section */
#quiz {
  background-image: url('./quiz-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

  
  h1 {
    font-size: 2em;
    margin-top: 50px;
  }
  
  #question {
    font-size: 1.5em;
    margin-top: 30px;
  }
  
  #answers {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  #timer {
    font-size: 1.5em;
    margin-top: 30px;
  }
  #score {
    font-size: 1.5em;
    margin-top: 30px;
  }
  #next-button {
    background-color: #008CBA; /* Blue */
  }
  #restart-button {
    background-color: #f44336; /* Red */
  }
  /* default styles */
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* styles for small screens */
@media only screen and (max-width: 768px) {
  form {
      width: 90%;
      height: auto;
  }

  input[type="button"] {
      width: 30%;
  }
}

@media screen and (max-width: 600px) {
  /* Styles pour les écrans de moins de 600 pixels de largeur */
  input[type="button"] {
    padding: 5px;
    font-size: 14px;
  }
}

  